#chart {
  margin-left: auto;
  margin-right: auto;
  width: 800;
}

text.node {
  pointer-events: none;
  text-shadow: 0em 0em 0.15em #fff, 0em 0em 0.15em #fff, 0em 0em 0.15em #fff;
}

@media(max-width:767px) {
  text.stack {
    font-size: 9px;
  }
}

circle.node {
  stroke: #fff;
  stroke-width: 2px;
}

line.link {
  stroke: #666;
}
