<!doctype html>
<html lang="en" ng-app ng-controller="ChapterController">
  <head>
    <meta charset="utf-8">
    <title>Viz3k</title>
    <!-- use Twitter Bootstrap for styling -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styling common to all pages except splash page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/common.css"/>
    <!-- styling for this page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/chapters/chapter.css"/>
    <!-- styling for the visualization -->
    <link type="text/css" rel="stylesheet" href="/assets/css/charts/network_force.css"/>
  </head>
  <body>
    <!-- include the navbar at the top -->
    <div ng-include src="navbarUrl"></div>

    <!-- content goes here -->
    <div id="container" class="container">
      <div class="row">
      <div id="container-header" class="span8 offset2">
        <!-- let user navigate to nearby chapters from here -->
        <div class="pagination pagination-center pagination-small ng-cloak">
          <ul>
            <!-- only show a link to the previous chapter if there is one -->
            <li ng-class="{ disabled: chapter.chapter - 1 < 1 }">
              <a ng-repeat="prevHref in prevChapter" href="{{prevHref}}">&laquo;</a>
              <span ng-repeat="prevHref in prevChapter_">&laquo;</span>
            </li>
            <li ng-repeat="navChapter in navChapters" ng-class="{ active: navChapter.chapter == chapter.chapter }">
              <a href="{{navChapter.chapter}}" ng-bind="navChapter.chapter"></a>
            </li>
            <!-- only show a link to the next chapter if there is one -->
            <li ng-class="{ disabled: chapter.chapter + 1 > lastChapter }">
              <a ng-repeat="nextHref in nextChapter" href="{{nextHref}}">&raquo;</a>
              <span ng-repeat="nextHref in nextChapter_">&raquo;</span>
            </li>
          </ul>
        </div>
        <div class="ng-cloak lead">
          {{chapterTitle}}
        </div>
      </div>
      </div>
      <!-- row for character list and coappearance visualization -->
      <div class="row">
        <div id="chart-area" class="hidden-phone span8 offset2">
          <div id="chart-well" class="well well-small">
            <div id="chart"></div>
          </div>
        </div>
      </div>
      <!-- info and stats down here -->
      <div class="row">
        <div id="stats-area" class="span8 offset2">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#summary" data-toggle="tab">Summary</a>
              </li>
              <li>
                <a href="#characters" data-toggle="tab">Characters</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="summary">
                <p class="lead">Central characters</p>
                <table class="table table-condensed ng-cloak">
                  <thead>
                    <tr>
                      <th class="table-char-ranking">#</th>
                      <th>Name</th>
                      <th class="table-char-faction-badge"></th>
                      <th class="table-char-faction">Faction</th>
                      <th class="table-char-links">Centrality</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="person in peopleByImportance">
                      <td class="table-char-ranking">{{$index + 1}}</td>
                      <td>
                        <a href="/people/{{person.id}}">{{person.name}}</a>
                        <span class="muted"> {{person.style_parens}}</span>
                      </td>
                      <td class="table-char-faction-badge">
                        <a href="/factions/{{person.group}}">
                          <div class="faction-badge" style="{{'background: ' + person.color + ';'}}"></div>
                        </a>
                      </td>
                      <td class="table-char-faction">
                        <a href="/factions/{{person.group}}">{{person.faction}}</a>
                      </td>
                      <td class="table-char-links">{{person.links}}</td>
                    </tr>
                  </tbody>
                </table>
                <small class="muted">Whenever two characters appear on the same page, a point is added to both their centrality scores. The more often someone appears alongside other characters in a chapter, the more central that person is to the chapter's story.</small>
                <hr>
                <p class="lead ng-cloak" ng-hide="deaths.length == 0">Deaths ({{deaths.length}} total)</p>
                <p ng-repeat="d in deathsCombat" ng-cloak>
                  <span class="text-error"><b>✖</b></span>
                  &nbsp;<b><a href="/people/{{deaths[d].id}}">{{deaths[d].person.name}}</a></b>
                  was killed in battle
                  <span ng-show="deaths[d].killers"> by
                    <span ng-repeat="killer in deaths[d].killers">
                      <a href="/people/{{killer.id}}">{{killer.name}}</a><span ng-hide="$index == deaths[d].killers.length - 1">, </span>
                    </span>
                  </span>
                </p>
                <p ng-repeat="d in deathsMurder" ng-cloak>
                  <span><b>✖</b></span>
                  &nbsp;<b><a href="/people/{{deaths[d].id}}">{{deaths[d].person.name}}</a></b>
                  was murdered
                  <span ng-show="deaths[d].killers"> by
                    <span ng-repeat="killer in deaths[d].killers">
                      <a href="/people/{{killer.id}}">{{killer.name}}</a><span ng-hide="$index == deaths[d].killers.length - 1">, </span>
                    </span>
                  </span>
                </p>
                <p ng-repeat="d in deathsExecution" ng-cloak>
                  <span class="text-warning"><b>✖</b></span>
                  &nbsp;<b><a href="/people/{{deaths[d].id}}">{{deaths[d].person.name}}</a></b>
                  was executed
                  <span ng-show="deaths[d].killers"> by
                    <span ng-repeat="killer in deaths[d].killers">
                      <a href="/people/{{killer.id}}">{{killer.name}}</a><span ng-hide="$index == deaths[d].killers.length - 1">, </span>
                    </span>
                  </span>
                </p>
                <p ng-repeat="d in deathsIllness" ng-cloak>
                  <span class="text-info"><b>✖</b></span>
                  &nbsp;<b><a href="/people/{{deaths[d].id}}">{{deaths[d].person.name}}</a></b>
                  died of illness
                </p>
                <p ng-repeat="d in deathsSuicide" ng-cloak>
                  <span class="muted"><b>✖</b></span>
                  &nbsp;<b><a href="/people/{{deaths[d].id}}">{{deaths[d].person.name}}</a></b>
                  committed suicide
                </p>
              </div>
              <div class="tab-pane" id="characters">
                <p class="ng-cloak">&nbsp;{{people.length}} characters appear in this chapter.</p>
                <table class="table table-condensed ng-cloak">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th class="table-char-faction-badge"></th>
                      <th class="table-char-faction">Faction</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="person in people | orderBy:peopleOrder">
                      <td>
                        <a href="/people/{{person.id}}">{{person.name}}</a>
                        <span class="muted"> {{person.style_parens}}</span>
                      </td>
                      <td class="table-char-faction-badge">
                        <a href="/factions/{{person.group}}">
                          <div class="faction-badge" style="{{'background: ' + person.color + ';'}}"></div>
                        </a>
                      </td>
                      <td class="table-char-faction">
                        <a href="/factions/{{person.group}}">{{person.faction}}</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <hr>
          <footer>
          </footer>
        </div>
      </div>
    </div>

    <!-- load javascripts last for speed -->
    <script type="text/javascript" src="/lib/d3/d3.v2.min.js"></script>
    <script type="text/javascript" src="/assets/js/charts/network_force.js"></script>
    <script type="text/javascript" src="/assets/js/charts/coappear.js"></script>

    <!-- third party javascript -->
    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>

    <!-- general utility functions -->
    <script type="text/javascript" src="/assets/js/util.js"></script>

    <!-- controller for this view -->
    <script type="text/javascript" src="/assets/js/chapters/chapter.js"></script>
  </body>
</html>

