<!doctype html>
<html lang="en" ng-app ng-controller="Chapter">
  <head>
    <meta charset="utf-8">
    <title>Chapter {{chapter.chapter}} - Viz3k</title>
    <!-- use Twitter Bootstrap for styling -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- styling common to all pages except splash page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/common.css"/>
    <!-- styling for this page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/coappear/chapter.css"/>
    <!-- styling for the visualization -->
    <link type="text/css" rel="stylesheet" href="/assets/css/coappear/force.css"/>
  </head>
  <body>
    <!-- include the navbar at the top -->
    <div ng-include src="navbar_url"></div>

    <!-- content goes here -->
    <div class="container">
      <div id="container-header" class="page-header">
        <h2>Coappearances</h2>
        <!-- let user navigate to nearby chapters from here -->
        <div class="pagination pagination-center pagination-small ng-cloak">
          <ul>
            <!-- only show a link to the previous chapter if there is one -->
            <li ng-class="{ disabled: chapter.chapter - 1 < 1 }">
              <a ng-repeat="prev_href in prev_chapter" href="{{prev_href}}">&laquo;</a>
              <span ng-repeat="prev_href in prev_chapter_">&laquo;</span>
            </li>
            <li ng-repeat="nav_chapter in nav_chapters" ng-class="{ active: nav_chapter.chapter == chapter.chapter }">
              <a href="{{nav_chapter.chapter}}" ng-bind="nav_chapter.chapter"></a>
            </li>
            <!-- only show a link to the next chapter if there is one -->
            <li ng-class="{ disabled: chapter.chapter + 1 > last_chapter }">
              <a ng-repeat="next_href in next_chapter" href="{{next_href}}">&raquo;</a>
              <span ng-repeat="next_href in next_chapter_">&raquo;</span>
            </li>
          </ul>
        </div>
        <div class="ng-cloak lead muted">
          {{chapter_title}}
        </div>
      </div>
      <!-- row for character list and coappearance visualization -->
      <div class="row">
        <div id="stack-area" class="span3">
          <div id="stack-well" class="well well-small">
            <div id="stack"></div>
          </div>
        </div>
        <div id="chart-area" class="span9 hidden-phone">
          <div id="chart-well" class="well well-small">
            <div id="chart"></div>
          </div>
        </div>
      </div>
      <!-- info and stats down here -->
      <div class="row">
        <div id="char-stats-area" class="span8 offset3">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#characters-importance" data-toggle="tab">Importance</a>
              </li>
              <!--<li><a href="#characters-centrality" data-toggle="tab">Centrality</a></li>-->
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="characters-importance">
                <table class="table table-condensed ng-cloak">
                  <thead>
                    <tr>
                      <th class="table-char-ranking">#</th>
                      <th>Name</th>
                      <th class="table-char-faction-badge"></th>
                      <th class="table-char-faction">Faction</th>
                      <th class="table-char-links">Links</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="person in people_by_importance">
                      <td class="table-char-ranking">{{$index + 1}}</td>
                      <td>{{person.name}} <span class="muted">{{person.style_paren}}</span></td>
                      <td class="table-char-faction-badge">
                        <a href="/factions/{{person.group}}">
                          <div class="faction-badge" style="{{'background: ' + person.color + ';'}}"></div>
                        </a>
                      </td>
                      <td class="table-char-faction">
                        <a href="/factions/{{person.group}}">{{person.faction}}</a>
                      </td>
                      <td class="table-char-links">{{person.links}}</td>
                    </tr>
                  </tbody>
                </table>
                <small class="muted">The more links a character has to others, the more important that character is.</small>
              </div>
              <!--<div class="tab-pane" id="characters-centrality"></div>-->
            </div>
          </div>
        </div>
      </div>

      <hr>
      <footer>
      </footer>
    </div>

    <!-- load javascripts last for speed -->
    <script type="text/javascript" src="/lib/d3/d3.v2.min.js"></script>
    <script type="text/javascript" src="/assets/js/coappear/force.js"></script>

    <!-- third party javascript -->
    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>

    <!-- controller for this view -->
    <script type="text/javascript" src="/assets/js/coappear/chapter.js"></script>
  </body>
</html>

