/* on screens below 768px-wide, make the stack well shorter */
@media(max-width:767px) {
  #stack-well {
    height: 300px;
    overflow-y: auto;
  }
}
@media(min-width:768px) {
  #stack-well {
    height: 680px;
    overflow-y: auto;
  }
}

#char-stats-area {
  min-height: 600px;
}

th.table-char-ranking, td.table-char-ranking {
  width: 8%;
  text-align: center;
}

th.table-char-faction-badge, td.table-char-faction-badge {
  width: 48px;
  vertical-align: middle;
  text-align: center;
}

th.table-char-faction, td.table-char-faction {
  width: 24%;
}

th.table-char-links, td.table-char-links {
  width: 12%;
  text-align: center;
}
