#chart {
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  height: 680px;
}

th.table-char-ranking, td.table-char-ranking {
  width: 8%;
  text-align: center;
}

th.table-char-faction-badge, td.table-char-faction-badge {
  width: 48px;
  vertical-align: middle;
  text-align: center;
}

th.table-char-faction, td.table-char-faction {
  width: 24%;
}

th.table-char-links, td.table-char-links {
  width: 12%;
  text-align: center;
}
