#stack-well {
  height: 720px;
  overflow-y: auto;
}

/* on screens below 768px-wide, hide the coappearance graph altogether*/
@media(max-width:767px) {
  #chart-area {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
@media(min-width:768px) {
  #chart-area {
    visibility: visible;
  }
}

#char-stats-area {
  min-height: 600px;
}

th.table-char-ranking, td.table-char-ranking {
  width: 8%;
  text-align: center;
}

th.table-char-faction-badge, td.table-char-faction-badge {
  width: 48px;
  text-align: center;
}

th.table-char-faction, td.table-char-faction {
  width: 24%;
}

th.table-char-links, td.table-char-links {
  width: 12%;
  text-align: center;
}
