<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Coappearances - Viz3k</title>
    <!-- use Twitter Bootstrap for styling -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- styling common to all pages except splash page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/common.css"/>
  </head>
  <body ng-controller="ChapterList">
    <!-- include the navbar at the top -->
    <div ng-include src="navbar_url"></div>

    <!-- content goes here -->
    <div class="container">
      <!-- page header -->
      <div class="page-header">
        <h2>Coappearances</h2>
        <span class="muted">Find out at a glance which characters are most important in each chapter, and see how strongly associated the characters are with one another.</span>
      </div>

      <!-- main content area -->
      <h3>Chapters</h3>
      <div class="scroll-list">
        <table class="table table-condensed ng-cloak">
          <tr ng-repeat="chapter in chapters | orderBy:orderProp">
            <td class="lead">{{chapter.chapter}}</td> <td><a href="/coappear/chapter/{{chapter.chapter}}">{{chapter.title}}</a></td>
          </tr>
          <tr>
            <td class="lead muted" style="text-align: center">--</td> <td>More to come!</td>
          </tr>
        </table>
      </div>

      <hr>
      <footer>
      </footer>
    </div>

    <!-- load javascripts last for speed -->

    <!-- third party javascript -->
    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>

    <!-- controller for this view -->
    <script type="text/javascript" src="/assets/js/coappear.js"></script>
  </body>
</html>
