<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Deaths - Viz3k</title>
    <!-- use Twitter Bootstrap for styling -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styling common to all pages except splash page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/common.css"/>
    <!-- styling for this page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/deaths.css"/>
    <!-- styling for charts -->
    <link type="text/css" rel="stylesheet" href="/assets/css/charts/bar_horizontal.css"/>
  </head>
  <body ng-controller="Deaths">
    <!-- include the navbar at the top -->
    <div ng-include src="navbar_url"></div>

    <!-- content goes here -->
    <div class="container">
      <div class="row">
        <div class="span8 offset2" id="content-area">
          <div class="page-header ng-cloak">
            <h2>Deaths</h2>
          </div>

          <p class="lead">Total deaths: {{deaths.length}}</p>
          <div id="chart-deaths-by-cause"></div>
          <hr>

          <p class="lead">Deadliest combatants</p>
          <div id="chart-top-combatants"></div>
          <small class="muted">Combatants are ranked on the number of characters they've killed in battle. Note that data is incomplete and rankings currently reflect only a portion of the novel.</small>

          <hr>
          <footer>
          </footer>
        </div>
      </div>
    </div>

    <!-- load javascripts last for speed -->

    <!-- third party javascript -->
    <script type="text/javascript" src="/lib/d3/d3.v2.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>

    <!-- general utility functions -->
    <script type="text/javascript" src="/assets/js/util.js"></script>

    <!-- controller for this view -->
    <script type="text/javascript" src="/assets/js/deaths.js"></script>

    <!-- charts used by this view -->
    <script type="text/javascript" src="/assets/js/charts/bar_horizontal.js"></script>
  </body>
</html>
