<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Factions - Viz3k</title>
    <!-- use Twitter Bootstrap for styling -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- styling common to all pages except splash page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/common.css"/>
    <!-- styling for this page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/factions.css"/>
  </head>
  <body ng-controller="Factions">
    <!-- include the navbar at the top -->
    <div ng-include src="navbar_url"></div>

    <!-- content goes here -->
    <div class="container">
      <div class="page-header">
        <h2>Factions</h2>
      </div>

      <!-- filter and sort options for list of factions below -->
      <div class="row">
        <div class="span3">
          <form class="form-inline">
            <fieldset>
              <input class="input-block-level" type="text" ng-model="query.name" placeholder="Filter by name">
            </fieldset>
          </form>
        </div>
      </div>

      <!-- scrollable list of factions -->
      <div style="height: 400px; overflow: auto;">
        <table class="table table-condensed ng-cloak">
          <tbody>
            <tr ng-repeat="faction in factions | filter:query">
              <td class="faction-color">
                <a href="/factions/{{faction.id}}">
                  <div class="faction-badge" style="{{'background: ' + faction.color + ';'}}"></div>
                </a>
              </td>
              <td class="faction">
                <a href="/factions/{{faction.id}}">{{faction.name}}</a>
                <span class="muted">{{faction.type_label}}</span>
              </td>
              <td class="faction faction-size">{{faction.members.length}}</td>
            </tr>
            <!-- display the catch-all "Other" faction last regardless of its size -->
            <tr ng-repeat="faction in factions_other | filter:query">
              <td class="faction-color">
                <div class="faction-badge" style="{{'background: ' + faction.color + ';'}}"></div>
              </td>
              <td class="faction">
                <a href="/factions/{{faction.id}}">{{faction.name}} {{faction.type_label}}</a>
                <span class="muted">{{faction.type_label}}</span>
              </td>
              <td class="faction faction-size">{{faction.members.length}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- info and stats down here -->
      <hr>
      <div class="row">
        <div id="stats-area" class="span12">
          <h5>Timeline of faction appearances <span class="muted">(by chapter)</span></h5>
          <div class="well well-small">
            <div id="chart-appearances"></div>
            <small class="muted">Click anywhere on the chart to jump to a chapter.</small>
          </div>
        </div>
      </div>

      <hr>
      <footer>
      </footer>
    </div>

    <!-- load javascripts last for speed -->

    <!-- third party javascript -->
    <script type="text/javascript" src="/lib/d3/d3.v2.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>

    <!-- controller for this view -->
    <script type="text/javascript" src="/assets/js/factions.js"></script>
  </body>
</html>
