<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="opaVmTT6lI-sLcx2AVonleEzv99n2l10NhwswzHm7x4" />
    <title>Viz3k - Visualizing Romance of the Three Kingdoms</title>
    <!-- use Twitter Bootstrap for styling -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">
  </head>
  <body ng-controller="Index">
    <!-- include the navbar at the top -->
    <div ng-include src="navbar_url"></div>

    <!-- main banner description for the site -->
    <div class="jumbotron masthead">
      <div class="container">
      <h1>Viz3k</h1>
      <h2>Visualizing Romance of the Three Kingdoms</h2>
      <p><a class="btn btn-primary btn-large" href="/coappear">Get started &raquo;</a></p>
      </div>
    </div>

    <!-- text content -->
    <div class="container">
      <div class="row">
        <div class="span6 blurb">
          <h2>About the novel</h2>
          <p style="text-align: justify;"><a href="http://en.wikipedia.org/wiki/Romance_of_the_Three_Kingdoms"><em>Romance of the Three Kingdoms</em></a> is a historical novel written in the 14th century by Luo Guanzhong. It is one of the Four Great Classical Novels of China, and the basis of Koei's popular video game franchises <a href="http://en.wikipedia.org/wiki/Romance_of_the_Three_Kingdoms_(video_game_series)"><em>Romance of the Three Kingdoms</em></a> and <a href="http://en.wikipedia.org/wiki/Dynasty_Warriors"><em>Dynasty Warriors</em></a>.</p>
        </div>
        <div class="span6 blurb">
          <h2>Don't just read it, see it</h2>
          <p style="text-align: justify;">The novel contains 120 chapters and around 1000 named characters. Hundreds of characters from the novel appear as officers in the Koei games. The number of characters and the complexity of their relationships makes visualization a great tool to help the reader or student understand the novel and its various adaptations.</p>
        </div>
      </div>

      <!-- news alert to indicate recent updates -->
      <div class="row">
        <div id="news-area" class="span8 offset2" style="padding: 10px">
          <div id="news-alert" class="alert alert-info" style="margin: 0px; text-align: center">
            Viz3k is a work in progress! Not all of the novel has been added yet, but more is being added every week.
          </div>
        </div>
      </div>
    </div>

    <!-- load javascripts last for speed -->

    <!-- third party javascript -->
    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>

    <!-- controller for this view -->
    <script type="text/javascript" src="/assets/js/index.js"></script>
  </body>
</html>
