    <!-- navbar based on sample template on Twitter Bootstrap site -->
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Viz3k</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li ng-class="{ active: navbar_selected == 0 }"><a href="/">Home</a></li>
              <li ng-class="{ active: navbar_selected == 1 }"><a href="/chapters">Chapters</a></li>
              <li ng-class="{ active: navbar_selected == 2 }"><a href="/factions">Factions</a></li>
              <li ng-class="{ active: navbar_selected == 3 }"><a href="/people">People</a></li>
              <li ng-class="{ active: navbar_selected == 4 }"><a href="/deaths">Deaths</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
