<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>People - Viz3k</title>
    <!-- use Twitter Bootstrap for styling -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- styling common to all pages except splash page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/common.css"/>
    <!-- styling for this page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/people.css"/>
  </head>
  <body ng-controller="People">
    <!-- include the navbar at the top -->
    <div ng-include src="navbar_url"></div>

    <!-- content goes here -->
    <div class="container">
      <div class="page-header">
        <h2>People</h2>
      </div>

      <!-- filter and sort options for list of people below -->
      <div class="row">
        <div class="span3">
          <form class="form-inline">
            <fieldset>
              <input class="input-block-level" type="text" ng-model="query.name" placeholder="Filter by name">
            </fieldset>
          </form>
        </div>
      </div>

      <!-- list of people -->
      <div class="row">
        <div class="span12">
          <table class="table table-condensed ng-cloak">
            <tbody>
              <tr ng-repeat="person in people | filter:query | orderBy:['-appearances.length','name']">
                <td class="table-person-name">
                  <a href="/people/{{person.id}}">{{person.name}}</a>
                  <span class="muted"> {{person.style_parens}}</span>
                </td>
                
                <td class="table-person-faction-badge">
                  <a href="/factions/{{person.faction}}">
                    <div class="faction-badge" style="{{'background: ' + person.faction_color + ';'}}"></div>
                  </a>
                </td>
                <td class="table-person-faction">
                  <a href="/factions/{{person.faction}}">{{person.faction_name}}</a>
                </td>
                <td class="table-person-num-appearances muted hidden-phone">
                  <small>appears in {{person.appearances.length}} chapters</small>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <footer>
      </footer>
    </div>

    <!-- load javascripts last for speed -->

    <!-- third party javascript -->
    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>

    <!-- general utility functions -->
    <script type="text/javascript" src="/assets/js/util.js"></script>

    <!-- controller for this view -->
    <script type="text/javascript" src="/assets/js/people.js"></script>
  </body>
</html>
