div.appearance-timeline {
  height: 90px;
}

.appearance-timeline-label {
  padding-left: 24px;
}

.axis path, .axis line {
  fill: none;
  stroke: #aaaaaa;
  shape-rendering: crispEdges;
}

.axis text {
    font-size: 9px;
    fill: #aaaaaa;
}
