.axis path, .axis line {
  fill: none;
  stroke: #666666;
  stroke-width: 0.2em;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 9px;
  fill: #999999;
}

text.axis-labels {
  fill: #444444;
}

text.value-labels {
  fill: #555555;
}
