text.node {
  pointer-events: none;
  text-shadow: 0em 0em 0.15em #fff, 0em 0em 0.15em #fff, 0em 0em 0.15em #fff;
}

@media(max-width:767px) {
}

circle.node {
  stroke: #fff;
  stroke-width: 2px;
}

line.link {
  stroke: #666;
}
