#stack-well {
  height: 720px;
  overflow-y: auto;
}

#chart {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

text.node {
  pointer-events: none;
  font-family: sans-serif;
  text-shadow: 0em 0em 0.15em #fff, 0em 0em 0.15em #fff, 0em 0em 0.15em #fff;
}

text.stack {
  font-family: sans-serif;
}

circle.node {
  stroke: #fff;
  stroke-width: 2px;
}

line.link {
  stroke: #666;
}
