body {
  margin: 0;
}

text.node {
  pointer-events: none;
  font-family: sans-serif;
  text-shadow: 0em 0em 0.15em #fff, 0em 0em 0.15em #fff, 0em 0em 0.15em #fff;
}

text.stack {
  font-family: sans-serif;
}

/* float the character stack on the left */
#stack {
  float: left;
  width: 256px;
  background-color: #ddd;
}

/* put the coappearance graph on the right */
#chart {
  position: fixed;
  left: 256px;
  height: 100%;
  background-color: #eee;
}

circle.node {
  stroke: #fff;
  stroke-width: 2px;
}

line.link {
  stroke: #666;
}
