td.faction {
  vertical-align: middle;
}

td.faction-color {
  width: 8%;
  vertical-align: middle;
  text-align: center;
}

td.faction-size {
  width: 24%;
  text-align: center;
}

#chart-appearances {
  height: 80px;
}
