td.faction {
  vertical-align: middle;
}

td.faction-color {
  width: 8%;
  vertical-align: middle;
  text-align: center;
}

td.faction-size {
  width: 30%;
  text-align: center;
}

/* override NVD3's transparency settings */
.stream .nvd3.nv-stackedarea path.nv-area {
  fill-opacity: 1;
}
