td.table-person-name {
  vertical-align: middle;
}

td.table-person-faction-badge {
  width: 48px;
  vertical-align: middle;
  text-align: center;
}

td.table-person-faction {
  width: 25%;
  vertical-align: middle;
}

td.table-person-num-appearances {
  vertical-align: middle;
  width: 20%;
}

/* hide chart axis */
g.nv-axis.nv-y {
  display: none;
}
