text.node {
  pointer-events: none;
  font-family: sans-serif;
  font-weight: bold;
  stroke: #fff;
}

text.stack {
  font-family: sans-serif;
  /*font-size: 12px;*/
}

/* float the character stack on the left */
#stack {
  float: left;
  width: 256px;
  background-color: #ddd;
}

/* put the coappearance graph on the right */
#chart {
  margin-left: 256px;
  background-color: #eee;
}

circle.node {
  stroke: #fff;
  stroke-width: 2px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
