body {
  background-color: #eee;
}

text {
  pointer-events: none;
  font-family: sans-serif;
  font-weight: bold;
  stroke: #fff;
}

circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
