<!doctype html>
<html lang="en" ng-app ng-controller="Faction">
  <head>
    <meta charset="utf-8">
    <title>{{faction.name}} {{faction_type}} - Viz3k</title>
    <!-- use Twitter Bootstrap for styling -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- styling common to all pages except splash page -->
    <link type="text/css" rel="stylesheet" href="/assets/css/common.css"/>
    <!-- styling for charts -->
    <link type="text/css" rel="stylesheet" href="/assets/css/charts/appearance_timeline.css"/>
  </head>
  <body>
    <!-- include the navbar at the top -->
    <div ng-include src="navbar_url"></div>

    <!-- content goes here -->
    <div class="container">
      <!-- page header with faction info -->
      <div class="page-header">
        <table class="ng-cloak">
          <tr>
            <td>
              <div class="faction-badge-lg" style="{{'background: ' + faction.color + ';'}}"></div>
            </td>
            <td style="padding-left: 12px;">
              <p class="lead" style="margin-bottom: 0px;">{{faction.name}}</p>
              <span class="muted">{{faction_type}}</span>
            </td>
          </tr>
        </table>
      </div>

      <div class="row">
        <div class="span12 ng-cloak">
          <p><small>{{faction.members.length}} members</small></p>
          <p><small>
            <span ng-repeat="link in faction_links">(<a href="{{link.href}}">{{link.text}}</a>)<span>
          </small></p>
        </div>
      </div>
      <hr>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#members" data-toggle="tab">Members</a>
          </li>
          <li>
            <a href="#stats" data-toggle="tab">Stats</a>
          </li>
        </ul>
        <div class="tab-content">
          <!-- list of faction members -->
          <div class="tab-pane active" id="members">
            <!-- filter and sort options -->
            <div class="row">
              <div class="span3">
                <form class="form-inline">
                  <fieldset>
                    <input class="input-block-level" type="text" ng-model="query.name" placeholder="Filter by name">
                  </fieldset>
                </form>
              </div>
            </div>
            <table class="table table-condensed ng-cloak">
              <tr ng-repeat="member in faction.members | filter:query | orderBy:'name'">
                <td>
                  <a href="/people/{{member.id}}">{{member.name}}</a>
                  <span class="muted"> {{member.style_parens}}</span>
                </td>
              </tr>
            </table>
          </div>
          <!-- statistics for this faction -->
          <div class="tab-pane" id="stats">
            <h5>Members mentioned per chapter</h5>
            <div class="well well-small">
              <div id="chart-appearances" class="appearance-timeline"></div>
              <small class="muted appearance-timeline-label">Click anywhere on the chart to jump to a chapter.</small>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <footer>
      </footer>
    </div>

    <!-- load javascripts last for speed -->

    <!-- third party javascript -->
    <script type="text/javascript" src="/lib/d3/d3.v2.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>

    <!-- general utility functions -->
    <script type="text/javascript" src="/assets/js/util.js"></script>

    <!-- controller for this view -->
    <script type="text/javascript" src="/assets/js/factions/faction.js"></script>

    <!-- charts used by this view -->
    <script type="text/javascript" src="/assets/js/charts/appearance_timeline.js"></script>
  </body>
</html>
